*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 35vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      blink-caret .5s step-end infinite;
  }

  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from {
      border-color: transparent;
    }
    to {
      border-color: #333;
    }
  }
.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    text-align: left;
    list-style: none;
    letter-spacing: 4px;
    margin: 10px 30px 10px 0px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2480f7;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color:#ff004f
}

/* -------- ABOUT -------- */
#about{
    padding: 10px 0;
    color: #ababab
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    display: grid;
}

.about-col-1 img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.card {
    position: relative;
    width: 100%;
  }

.middle {
    margin-left: 10%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    text-align: center;
  }

  .imageflexcontent {
    margin-left: 5px;
    margin-top: 0;
  }
  
  .card:hover .image {
    opacity: 0.3;
  }
  
  .card:hover .middle {
    opacity: 1;
  }
  
  .card:hover .middle img {
    opacity: 1;
  }

  .text {
    background-color: #04aa6d00;
    color: white;
    font-size: 16px;
    padding: 16px;
  }